{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <title>Notes</title>
</head>
<link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
<script src="{% static 'js/expando.js' %}"></script>

<body>
    <div>
        <h1>Notes</h1>
        <form onsubmit="submit_handler(event)">
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" maxlength="50"/>
            </div>
            <div>
                <label for="content">Content:</label>
                <textarea id="content" name="content" maxlength="300"></textarea>
            </div>

            <div class="button">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="notes_body">
        {% if note_list %}
        {% for note in note_list %}
        <div class="expando" id="_{{ note.id }}">
            <button onclick="expand_handler({{ note.id }});">{{ note.title }}</button>
            <div class="content">
                <div class="controls">
                    <button onclick="update_handler({{ note.id }});">Update</button>
                    <button onclick="delete_handler({{ note.id }});">Delete</button>
                </div>
                <textarea maxlength="300">{{ note.content }}</textarea>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h1>Nothing to see here…</h1>
        {% endif %}
    </div>
</body>

</html>